<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/spinner.css" />
    <title>OpenAI Image Genrator</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="https://beta.openai.com/docs">
                    <h2>OpenAI Image Genrator</h2>
                </a>
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <strong>CSI</strong>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="showcase">
            <form id="image-form" action="/generate" method="post">
                <!-- <h1>Enter Prompt and Size</h1> -->
                <div class="form-control">
                    <input type="text" name="prompt" id="prompt" placeholder="Enter Prompt" required />
                </div>
                <!-- size -->
                <div class="form-control">
                    <select name="size" id="size" required>
                        <option value="256x256">Small</option>
                        <option value="512x512" selected>Medium</option>
                        <option value="1024x1024">Large</option>
                    </select>
                </div>
                <button type="submit" class="btn">Generate</button>
            </form>
        </section>

        <section class="image">
            <div class="image-container">
                <h2 class="msg">Preveiw:</h2>
                <img src="" alt="" id="image" /><br>
                <div class="download" style="text-align: center;">

                </div>
            </div>
        </section>
    </main>
    <div class="spinner"></div>


    <script type="application/javascript">
        function onSubmit(e) {
            e.preventDefault();

            document.querySelector('.msg').textContent = '';
            document.querySelector('#image').src = '';

            const prompt = document.querySelector('#prompt').value;
            const size = document.querySelector('#size').value;

            generateImageRequest(prompt, size);
        }

        async function generateImageRequest(prompt, size) {
            try {
                showSpinner();

                const response = await fetch('http://localhost:5000/generate', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        prompt,
                        size,
                    }),
                });

                if (!response.ok) {
                    removeSpinner();
                    throw new Error('That image could not be generated');
                }

                const data = await response.json();

                const imageUrl = data.image_url;

                document.querySelector('#image').src = imageUrl;
                // document.querySelector(".download").href = imageUrl;
                document.querySelector('.download').innerHTML = `<a href=${imageUrl} download><button
                            class="downloadbutton">Download</button></a>`

                removeSpinner();
            } catch (error) {
                document.querySelector('.msg').textContent = error;
                console.log(error);
            }
        }

        function showSpinner() {
            document.querySelector('.spinner').classList.add('show');
        }

        function removeSpinner() {
            document.querySelector('.spinner').classList.remove('show');
        }

        document.querySelector('#image-form').addEventListener('submit', onSubmit);
    </script>

</body>

</html>
